In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel('2019 Winter Data Science Intern Challenge Data Set.xlsx')
df

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56.190
1,2,92,925,90,1,cash,2017-03-03 17:38:51.999
2,3,44,861,144,1,cash,2017-03-14 04:23:55.595
3,4,18,935,156,1,credit_card,2017-03-26 12:43:36.649
4,5,18,883,156,1,credit_card,2017-03-01 04:35:10.773
...,...,...,...,...,...,...,...
4995,4996,73,993,330,2,debit,2017-03-30 13:47:16.597
4996,4997,48,789,234,2,cash,2017-03-16 20:36:16.389
4997,4998,56,867,351,3,cash,2017-03-19 05:42:42.228
4998,4999,60,825,354,2,credit_card,2017-03-16 14:51:18.188
4999,5000,44,734,288,2,debit,2017-03-18 15:48:18.205

In [3]:
'''
As seen in the result below, we calculate the average of the order_amount column, i.e we 
take the sum of the order_amount column divided by the toal number of entries. This is not
correct as the total number of entries doesn't represent the total no of orders
'''
df['order_amount'].mean()

3145.128

In [4]:
'''
A better approach is to divide sum of the order_amount column by the sum of the total_items
column as seen below
'''


df['order_amount'].sum() / df['total_items'].sum()

#The value 357.92 is the correct value of the metric

357.92152221412965